html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Text Styling*/
h1 {
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 2em;
	margin-bottom: .3em;
}



nav{
	width: 25%;
	margin: auto;
	padding: 2%;
}

nav button{
	margin: 0 5% 0 5%;
}

/*flex box setup*/
.flex-container {
 display: flex;
 flex-wrap: nowrap;
 background-color: #F3B802;
}

.flex-container div {
 background-color: #8BCD32;
 width: 30%;
 margin: auto;
 text-align: center;
 line-height: 1.4em;
 padding: .5em;
 border-width: medium;
 border-style: solid;
}

.flex-container div img {
	max-width: 100%;
}


#upload {
	margin: auto;
	width: 50%;
	padding: 2em;
	border-style: dotted;
	border-color: black;
	border-width: medium;
	background-color: #F3B802;
}

#upload img {
	width:100%;
	margin: auto;
	border-width: medium;
	border-style: solid;
}

#upload h2 {
	text-align: center;
}
#upload form {
	padding: 1em;
	width: 70%;
	margin: auto;
	border-width: medium;
	border-style: solid;
}

/* moreinfo .html */
.flex-sandwich {
    display: flex;
}

.flex-left-sandwich,
.flex-right-sandwich {
    flex: 1;
}

.flex-right-sandwich {
    flex-wrap: wrap;
}

.sandwich-border-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 20px 20px 10px 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.sandwich-border-box h2 {
    font-size: 40px;
}

.sandwich-border-box h3 {
    font-size: 18px;
}

.recipe-box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10px 20px 0 20px;
    padding: 5px;
    height: 150px;
}

.rating {
    margin: 0 20px;
}
